header{
    border: 1px solid red;
    background: black;
    padding: 10px;
    color: white;
}

nav{
    border: 1px solid red;
    background: black;
    padding: 10px;
    color: white;
}

article{
    border: 1px solid red;
    background: orangered;
    padding: 10px;
    color: white;
}

section{
    border: 1px dashed blue;
    padding: 2px;
}

aside{
    background: blue;
}

footer{
    background: black;
    color: white;
}